* {
    box-sizing: border-box;
}

header img{
    width: 150px;
    height: 80px;
    margin-right: 700px;
}

header {
    display: flex;
    justify-content: flex-end;
    
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style-type:none;
    justify-content: space-around;
}







