* {
    box-sizing: border-box;
}

header img{
    width: 150px;
    height: 80px;
    margin-right: 650px;
}

header {
    display: flex;
    justify-content: flex-end;
    
}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style-type:none;   
}

.nav-list li{
    margin: 12px;
}

.sign-in button{
    margin-right: 150px;
}

li a {
    text-decoration: none;
}

.trending-logo{
width: 20px;
border-radius: 50%;
margin-right: 8px;
}

.text-logo-container{
    border-style: groove;
    display: inline;
    box-sizing: content-box;
}

.text-logo-container span{
    font-size: 13px;
    font-weight: 950;
    letter-spacing: 1px;
}


