* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sign-in button {
}

li a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

li {
  margin-top: 25px;
}

header {
  background-color: whitesmoke;
  width: 200px;
  height: 713px;
}

.write button {
  width: 140px;
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
  background-color: #0080ff;
  border-color: #0080ff;
  color: white;
}

.pencil {
  margin-right: 10px;
  color: white;
  font-size: 23px;

}
.sign-in button {
  width: 120px;
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
}

.bookmark {
  margin-right: 12px;
  font-size: 23px;

}

.tag {
  margin-right: 12px;
  font-size: 23px;

}

.admin {
  margin-right: 12px;
  font-size: 23px;

}

.feed {
  margin-right: 12px;
  font-size: 23px;
}

hr{
    margin-right: 20px;
    color: #ddd;
    background-color: #ddd;
    height: 1px;
    border: none;
}

.more{
    margin-right: 12px;
    font-size: 30px;
  }

/* .drop-down{
    visibility: hidden;
} */



.more-button:hover .drop-down{
    visibility: visible;
    transition: all;
}

.more-button ul  {
  top: 35px;
  width: 100%;
} 


/* Dropdown */

.dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dd-button{
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after{
  content: ' ';
  position: absolute;
  top: 50%;
  right: 15px;
 
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.arrow{
  cursor: pointer;
  margin-right: 12px;
  font-size: 27px;
}